footer {
    position: relative;
    display: flex;

    min-height: 4rem;
    max-height: 10vh;
    height: 10vh;

    width: 100%;

    justify-content: center;
    align-items: center;
}