:root {
    margin: 0 auto;
    --text-standard: 1.3rem
}

.rel-header {
    position: relative;
    min-height: 4rem;
    height: 10vh;
    max-height: 10vh;

    width: 100%;
}

.fix-header {
    top: 0;
    z-index: 2;
    position: fixed;
    display: grid;
    grid-template-columns: 34% 66%;

    min-height: 4rem;
    height: 10vh;
    max-height: 10vh;
    width: 100%;

    justify-content: center;
    align-items: center;
    color: white;

    background-image: url("./../imgs/cobble_stone.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: left;
    overflow: hidden;
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.heading h1 {
    height: 100%;
    width: 100%;

    align-items: start;
    text-align: center;


    font-family: Calibri, sans-serif;
    font-size: clamp(2rem, 4rem, 6rem);
    text-shadow: 2px 2px 2px rebeccapurple;
    line-height: clamp(1rem, 2rem, 3rem);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.heading-dec {
    position: absolute;
    height: 95%;
    width: 95%;
    object-fit: contain;
    z-index: 1;
}

.heading:hover .heading-dec {
    animation: wiggle 0.5s ease-in-out infinite;

}
.heading:hover {
    cursor: cell;
}

.heading:hover h1 {
    opacity: 1;
    transition: opacity 1.5s ease;
    cursor: cell;
}

.nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    height: 100%;
    width: 100%;


    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav a {
    height: 100%;
    width: 100%;
    display: inline-grid;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: var(--text-standard);
    align-content: center;
    cursor: pointer;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transition: 0.25s ease;
}

.nav a:hover {
    transform: scale(1.1);
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .fix-header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        min-height: 7rem;


    }
    .nav {
        min-height: 3vh;
        height: 6vh;
    }
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }

}
