:root {
    background-color: #1a1a1a;

    --text-standard: 1rem;
    --text-std-mobile: 1.5rem;
    --text-heading: 3rem;
    --text-heading-mobile: 4rem;

    margin: 0 auto;
}
body {
    margin: 0 auto;
    color: whitesmoke;
    font-familY: Calibri, sans-serif;



}
.home {
    align-self: center;
    align-items: center;
    min-height: 60vh;
    height: fit-content;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;


}
.home h1 {
    font-size: var(--text-heading);

}

.home-content {
    position: relative;

    display: grid;
    grid-template-columns: 50% 50%;

    height: fit-content;
    width: 90%;
    max-width: 90rem;



    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.about-text {
    font-size: var(--text-standard);
    padding: 1rem;
    text-align: justify;
    flex-shrink: 0;
    /*width: 100%;*/
    /*text-align: center;*/
}

.pro-photo {
    border-radius: 15%;
    object-fit: cover;
    height: fit-content;
    width: 100%;
    max-height: inherit;
    max-width: 43rem;
	margin-left:auto;
}

.hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}
.about-text a {
    color: lightsalmon;
    text-decoration: underline dashed lightsalmon;
}
.about-text a:visited {
    color: salmon;
    text-decoration: underline wavy darksalmon;
}
.wrapper {
    grid-template-columns: 100%;
    max-width: 100%;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery-grid {
    columns: 5 10rem;
    column-gap: 1rem;
    width:100%;
    margin: 0 auto;
}
.gallery-item {
    margin: 0.5rem;
    display: inline-block;
    width: 100%;
    min-width: 150px;
    border-radius: 0.5rem;
}
h1, h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
    .home {

        /*padding-top: 10vh;*/
        margin: .5rem;
    }
    .home h1 {
        font-size: var(--text-heading-mobile);
    }
    .home-content {
        grid-template-columns: 100%;
        max-width: 100%;
        margin-left: 0;
        max-height: 100%;
        width:100%;

    }
    .about-text {
        font-size: var(--text-std-mobile);
        text-align: center;
    }
	.pro-photo {
		max-width: 27rem;
		margin: auto;
	}
}
.sweet-form {
    /*TODO: do. (stylize the radio buttons)*/
}
@media only screen and (max-height: 768px) {

    .home-content {
        max-height: 800vh;
    }
}

